<!DOCTYPE html>
<html>
  <head>
    <title>FoodTruck</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBMam5rGWt28ADYHpInbDdWfZLrETIU2hk&sensor=true">
    </script>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />

  </head>
  <body>
    <div class="map" id="map-canvas" style="width:800px;height:800px"></div>
    <%= yield %>

  </body>
</html>
